:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

.container{
    margin-top: 14em;
    font-size: large;
}

.container .form-control{
    font-size: 1em;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    padding: 10px;
    margin-bottom: 10px;
}
.nombre{
    display: flex;
    justify-content: space-around;
}

.opcProgramming{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}	

.btn{
    font-size: 5em;
    background-color: red;
}