:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

.header{
    background-color: var(--main-color); 
    font-size: 2em;
    display: flex;
}

.header>a{
    color: var(--white-color);
    text-decoration: none;
    transition: font-size 0.3s ease-in-out;
}

.header>a:hover{
    cursor: pointer;
    font-size: 0.8em;
}

.saludo{
    font-size: 2.5rem;
    color: var(--white-color);
    font-weight: 600;
    margin-left: 0;
    margin-right: auto;
}

.header .btn{
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 10px;
    padding: 20px;

}

.bxs-user-circle{
    font-size: 2em;
}

.dropdown-menu{
    background-color: var(--main-color);
    color: var(--white-color);
}