:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


form{
margin-top: 15em;

}
h3 {
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 10px 0;
    text-align: center;
}

ul {
    background-color: var(--bg-color);
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

li {
    color: var(--text-color);
    margin-bottom: 10px;
    padding: 10px;
}

input[type='radio'] {
    margin-right: 10px;
}
