:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

form {
    display: grid;
    gap: 20px;
    width: 80%;
    margin: 15em auto;
}

.question {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--shadow-color);
}

.question-title {
    color: var(--main-color);
}

.question-options {
    list-style-type: none;
    font-size: 2em;
}

.question-option {
    margin-bottom: 10px;
}

button {
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor:pointer;
    margin-bottom: 5em;
}
