:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1.titulo {
    color: var(--main-color);
}

p.puntaje, p.correctas, p.incorrectas {
    color: var(--text-color);
    padding: 10px;
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

a.btn {
    background-color: var(--main-color);
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--shadow-color);
}

.container {
    max-width: 960px;
    margin: 5em auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    flex-basis: 100%;
}
